<h3>Введите</h3>
<div *ngIf="isFirstStage">
  <form>
    <div class="form-group">
      <label for="m">Количество экспертов</label>
      <input type="number" class="form-control mn-input" [(ngModel)]="rangesInfo.m" name="m" id="m" min="3" max="10" required>
    </div>
    <div class="form-group">
      <label for="n">Количество объектов</label>
      <input type="number" class="form-control mn-input" [(ngModel)]="rangesInfo.n" name="n" id="n" min="3" max="10" required>
    </div>
    <button type="submit" class="btn btn-primary" (click)="firstStageSubmit()">Продолжить</button>
  </form>
</div>

<div *ngIf="!isFirstStage" class="range-input">
  <form>
    <div class="">
        <div class="form-group row container" *ngFor="let range of rangesInfo.ranges; index as i">
            <div class="row col-sm-2">{{range.expertName + ': '}}</div>
            <div class="row obj-group" *ngFor="let object of range.objects; index as j">
              <div class="col">
                  <select [compareWith]="compareFn" name="obj" class="form-control obj" [(ngModel)]="range.objects[j]">
                    <option *ngFor="let o of initRange"  [ngValue]="o" [selected]="o.index === j">{{o.name}}</option> 
                  </select>
                </div>
              <div class="col" *ngIf='j < range.objects.length - 1'>
                <select class="form-control struct" [(ngModel)]="range.structure[j]" name="struct">
                  <option *ngFor="let struct of structures" [ngValue]="struct">{{struct}}</option>
                </select>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-danger" (click)="backOnTheFirstStage()">Назад</button>
          <button type="button" class="btn btn-primary" (click)="submit()">Продолжить</button>
    </div>
  </form>
</div>
