<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Метод Кемени-Снелла</a>
</nav>
<div class="container">
  <app-input-range (rangesInfoChange)="onChanged($event)"></app-input-range>
  <hr>
  <h5 *ngIf="isShowResult()">Результат</h5>
  <div *ngIf="isShowResult()">{{getRangeAsString(resultRange)}}</div>
  <hr>
  <h5 *ngIf="isShowResult()">Вычисления</h5>
  <div id="accordion"  *ngIf="isShowResult()">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Матрицы сравнений
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              <app-comp-table *ngFor="let range of rangesInfo.ranges, index as i" prefix='R' [matr]="range.compMatrix" [index]="i + 1"></app-comp-table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Матрица потерь
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="row" *ngFor="let matr of cMatrs, index as i">
              <app-comp-table class="col" [matr]="matr.matr" prefix='C' [index]="i + 1"></app-comp-table>
              <h5 class="col">{{'V' + '' + (i + 1) + ' = ' + vectorToStr(matr.vector) }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</div>

